In [18]:
import pandas as pd
import numpy as np
import tushare as ts
import matplotlib.pyplot as plt

In [26]:
%matplotlib inline

In [4]:
msdf=ts.get_money_supply_bal()

In [3]:
type(ts.get_money_supply_bal())

pandas.core.frame.DataFrame

In [6]:
msdf.describe()

        year         m2        m1        m0         cd        qm ftd  sd rests
count     28         28        28        28         28        28  28  28    28
unique    28         28        28        28         28        28  25  26    25
top     1999  185007.00  16280.40  60260.00  278716.60  65544.90  --  --    --
freq       1          1         1         1          1         1   4   3     4

In [9]:
msdf

,year,m2,m1,m0,cd,qm,ftd,sd,rests
0,2017,1690235.30,543790.00,70646.00,473144.50,1132978.40,320196.20,649341.50,163440.70
1,2016,1550067.00,486557.00,68304.00,418253.40,1063509.40,307989.60,603504.20,152015.60
2,2015,1392278.00,400953.00,63217.00,337736.90,991324.70,288240.70,552073.50,151010.50
3,2014,1228375.00,348056.00,60260.00,287796.90,880318.40,264055.70,508878.10,107384.60
4,2013,1106525.00,337291.00,58574.00,278716.60,769233.90,232696.60,467031.10,69506.20
5,2012,974149.00,308664.00,54660.00,254004.50,665484.60,195940.10,411362.60,58181.90
6,2011,851591.00,289848.00,50748.00,239099.20,561743.20,166616.00,352797.50,42329.70
7,2010,725852.00,266622.00,44628.00,221993.40,459230.30,105858.70,303302.50,50069.10
8,2009,610225.00,221446.00,38247.00,183198.80,388778.70,84819.50,260752.70,43206.50
9,2008,475167.00,166217.00,34219.00,131998.20,308949.50,60103.10,217885.40,30961.10
10,2007,403442.00,152560.00,30375.00,122184.90,250882.10,46932.50,172534.20,31415.40
11,2006,345578.00,126028.00,27073.00,98962.50,219568.50,--,161587.30,--
12,2005,298756.00,107279.00,24032.00,83247.10,191476.90,33100.00,141051.00,17325.90
13,2004,254107.00,95970.00,21468.00,74501.40,158137.20,25382.20,119555.40,13199.70
14,2003,221223.00,84119.00,19746.00,64372.60,137104.30,20940.40,103617.70,12546.20
15,2002,185007.00,70882.00,17278.00,53603.80,114125.20,16433.80,86910.70,10780.70
16,2001,158302.00,59872.00,15689.00,44182.80,98430.30,14180.10,73762.40,10487.80
17,2000,134610.40,53147.20,14652.70,38494.50,81463.20,11261.10,64332.40,5869.70
18,1999,119897.90,45837.30,13455.50,32381.80,74060.60,9476.80,59621.80,4962.00
19,1998,104498.50,38953.70,11204.20,27749.50,65544.90,8301.90,53407.50,3835.50
20,1997,90995.30,34826.30,10177.60,24648.70,56169.00,6738.50,46279.80,3150.70
21,1996,76094.90,28514.80,8802.00,19712.80,47580.10,5041.90,38520.80,4017.40
22,1995,60750.50,23987.10,7885.30,16101.80,36763.40,3324.20,29662.20,3777.00
23,1994,46923.50,20540.70,7288.60,13252.10,26382.80,1943.10,21518.40,2921.30
24,1993,34879.80,16280.40,5864.70,10415.70,18599.40,1247.90,15203.50,2148.00
25,1992,25402.20,11731.50,4336.00,7395.20,13670.70,--,--,--
26,1991,19349.90,8633.30,3177.80,5455.50,10716.60,--,--,--
27,1990,15293.40,6950.70,2644.40,4306.30,8342.70,--,--,--

In [16]:
msdf.set_index=msdf['year']

In [17]:
msdf

,year,m2,m1,m0,cd,qm,ftd,sd,rests
0,2017,1690235.30,543790.00,70646.00,473144.50,1132978.40,320196.20,649341.50,163440.70
1,2016,1550067.00,486557.00,68304.00,418253.40,1063509.40,307989.60,603504.20,152015.60
2,2015,1392278.00,400953.00,63217.00,337736.90,991324.70,288240.70,552073.50,151010.50
3,2014,1228375.00,348056.00,60260.00,287796.90,880318.40,264055.70,508878.10,107384.60
4,2013,1106525.00,337291.00,58574.00,278716.60,769233.90,232696.60,467031.10,69506.20
5,2012,974149.00,308664.00,54660.00,254004.50,665484.60,195940.10,411362.60,58181.90
6,2011,851591.00,289848.00,50748.00,239099.20,561743.20,166616.00,352797.50,42329.70
7,2010,725852.00,266622.00,44628.00,221993.40,459230.30,105858.70,303302.50,50069.10
8,2009,610225.00,221446.00,38247.00,183198.80,388778.70,84819.50,260752.70,43206.50
9,2008,475167.00,166217.00,34219.00,131998.20,308949.50,60103.10,217885.40,30961.10
10,2007,403442.00,152560.00,30375.00,122184.90,250882.10,46932.50,172534.20,31415.40
11,2006,345578.00,126028.00,27073.00,98962.50,219568.50,--,161587.30,--
12,2005,298756.00,107279.00,24032.00,83247.10,191476.90,33100.00,141051.00,17325.90
13,2004,254107.00,95970.00,21468.00,74501.40,158137.20,25382.20,119555.40,13199.70
14,2003,221223.00,84119.00,19746.00,64372.60,137104.30,20940.40,103617.70,12546.20
15,2002,185007.00,70882.00,17278.00,53603.80,114125.20,16433.80,86910.70,10780.70
16,2001,158302.00,59872.00,15689.00,44182.80,98430.30,14180.10,73762.40,10487.80
17,2000,134610.40,53147.20,14652.70,38494.50,81463.20,11261.10,64332.40,5869.70
18,1999,119897.90,45837.30,13455.50,32381.80,74060.60,9476.80,59621.80,4962.00
19,1998,104498.50,38953.70,11204.20,27749.50,65544.90,8301.90,53407.50,3835.50
20,1997,90995.30,34826.30,10177.60,24648.70,56169.00,6738.50,46279.80,3150.70
21,1996,76094.90,28514.80,8802.00,19712.80,47580.10,5041.90,38520.80,4017.40
22,1995,60750.50,23987.10,7885.30,16101.80,36763.40,3324.20,29662.20,3777.00
23,1994,46923.50,20540.70,7288.60,13252.10,26382.80,1943.10,21518.40,2921.30
24,1993,34879.80,16280.40,5864.70,10415.70,18599.40,1247.90,15203.50,2148.00
25,1992,25402.20,11731.50,4336.00,7395.20,13670.70,--,--,--
26,1991,19349.90,8633.30,3177.80,5455.50,10716.60,--,--,--
27,1990,15293.40,6950.70,2644.40,4306.30,8342.70,--,--,--

In [14]:
msdf.plot(x=msdf['year'],y=msdf['m2'],kind='line')

TypeError: 'Series' object is not callable

In [11]:
msdf['m2'].plot.line()

TypeError: Empty 'DataFrame': no numeric data to plot

In [19]:
fig=plt.figure()

In [20]:
axes=fig.add_subplot(1,1,1)

In [33]:
axes.plot(msdf['m2'])

In [34]:
plt.show()